<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CinePhile</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="./output.css" rel="stylesheet" />
  </head>
  <body class="bg-black">
    <header>
      <nav class="flex items-center justify-between h-15 bg-black">
        <h1 id="logo" class="text-white font-bold text-3xl ml-3">
          <span class="text-red-600">Cine</span>phile
        </h1>
      </nav>
    </header>
    <script src="./recommend.js"></script>
  </body>
</html>
